body{
  font-size:16px;
  background-color: #612f;
  font-family: 'Oxygen', sans-serif;

}

#navbar{
  margin-top:20px;
  background-color: #429bf4;
  height: 275px;
  position: relative;
}

#logo{
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  width:225px;
  height:225px;
  left: 20;
  top:50;
  background: no-repeat;
  z-index: 0;
  position: absolute;
}
#title{
  left: 300;
  top: 75;
  float: left;
  position: relative;
  color: black;
  z-index: 0;
  position: absolute;
}
#nav{
  font-size: 20;
  background-color: #800000;
  position: relative;

}
#myNavbar{
  border-color:black;
  border-width: 5px;
}
#navbarContainer{
 z-index: 2;
 border-color:black;
 border-width: 5px;
}
#myNavbar{
  text-align: center;
}
.jumbotron{
  background-image: url('../images/bg.jpg');
}
.jumbotron h3{
  color: #429bf4;
}
#menu-tile{
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#specials-tile{
  background: url('../images/specials-tile.jpg') no-repeat;
  background-position: center;
}

#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}


.panel-footer section {
    margin-bottom: 30px;
    text-align: center;
  }
  .panel-footer section:nth-child(3) {
    margin-bottom: 0; /* margin already exists on the whole row */
  }
  .panel-footer section hr {
    width: 50%;
}
