body {
  font-size: 16px;
  color: #fff;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  border-radius: 0;
  border: 0;
  position: relative;
  box-shadow: 0 0 10px #414548;
  border: 1px solid #414548;
  border-radius: 10px;
}

#collapsable-nav{
  margin-right: 50px;
}

#logo-img {
  background: url('../images/logo.png') no-repeat;
  background-size: cover;
  width: 585px;
  height: 94px;
  margin: 10px 15px 10px 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { /* Kosher cert */
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { /* Star-K */
  vertical-align: middle;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* We Deliver */
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: 30px;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: 30px;
}

.container .jumbotron {
  box-shadow: 0 0 20px #414548;
  border: 2px solid #414548;
  border-radius:10px;
  text-align: center;
}

#personel-tile, #egitim-tile, #map-tile{
  height: 250px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px #414548;
  border: 2px solid #414548;
  border-radius: 10px;

}
#personel-tile:hover, #egitim-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#personel-tile {
  background: url('../images/academician.jpg') no-repeat;
  background-position: center;
  background-size:cover;
}
#egitim-tile {
  background: url('../images/egitim.jpg') no-repeat;
  background-position: center;
  background-size:cover;
}
#personel-tile span, #egitim-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}

.panel-footer .container{
  background-color: #414548;
  color:white;
}

.panel-footer .container section{
  margin-top: 30px;
  text-align: center;

}

.panel-footer .container{
  box-shadow: 0 0 50px #414548;
  border: 2px solid #414548;
  border-radius: 10px;
}
.karo{
  margin-bottom: 250px;
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px #414548;
  border: 2px solid #414548;
  border-radius: 10px;

}
.karo span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  background-color: #43a051;
  color: #fff;
  opacity: .8;
}

#lisans, #yLisans{
  background: url('../images/lisans.jpg') no-repeat;
  background-size: cover;
}
#autumn{
  background: url('../images/autumn.jpg') no-repeat;
  background-size: cover;
}
#spring{
  background: url('../images/spring.jpg') no-repeat;
  background-size: cover;
}
.clas{
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 20px #414548;
  border: 2px solid #414548;
  border-radius: 10px;
  text-align: center;
  font-size: 1.9em;
}
